style.css
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#0d1117;
    color:#ffffff;
    line-height:1.6;
}

header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background:#161b22;
    padding:15px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-bottom:1px solid #30363d;
    z-index:1000;
}

nav{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav h2{
    color:#58a6ff;
    font-size:28px;
}

nav ul{
    display:flex;
    list-style:none;
    gap:20px;
}

nav ul li a{
    text-decoration:none;
    color:white;
    transition:.3s;
}

nav ul li a:hover{
    color:#58a6ff;
}

section{
    min-height:100vh;
    padding:120px 8%;
}

#home{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}

#home h1{
    font-size:60px;
    color:#58a6ff;
}

#home h3{
    margin-top:15px;
    font-size:28px;
}

#home p{
    margin-top:20px;
    max-width:700px;
    font-size:18px;
    color:#c9d1d9;
}
